<template>
  <div>
    <el-link @click="serverDrawer = true">Server</el-link>
    <el-drawer :visible.sync="serverDrawer" :direction="serverDirection" :show-close="true">
      <file-resource
        :uploadUrl="uploadUrl"
        :isAll="true"
        :fileExt="fileExt"
        :size="2000000"
        :limit="15"
        @resourceSelect="resourceSelect"
      ></file-resource>
    </el-drawer>
  </div>
</template>

<script>
import FileResource from "../../components/common/FileResource.vue";
import { BASE_URL } from "../../config/app";

export default {
  components: {
    FileResource
  },
  data() {
    return {
      uploadUrl: BASE_URL + "/file/createFile",
      fileExt: "jpg,png,gif",
      serverDrawer: false,
      serverDirection: "rtl"
    };
  },
  methods: {
    resourceSelect(item) {
      alert(JSON.stringify(item));
    }
  },
  mounted() {}
};
</script>